*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: rgb(106, 104, 248); 
}

.container{
    color: white;
    padding-bottom: 100px;
}


.top_pd_15{
    padding-top: 15px;
}

.top_pd_15{
    text-transform: uppercase;
}


.bottoni_calc button{
    background-color: rgb(0, 35, 151);
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 5px;
}

input:focus{
    background-color: rgb(206, 248, 253);
}

input{
    padding-left: 15px;
    width: 90%;
    color: black;
}




h2{
    text-transform: uppercase;
    text-align: center;
}

h3{
    text-transform: uppercase;
    text-align: center;
}

/* .tempo_giro{ */
    /* width: 100%; */
/* } */


/* .durata_gara{
    width: 100%;
} */

.bottoni{
    margin-top: 15px;
    text-align: center;
}




#calcola{
    padding: 10px;
    width: 80%;
    background-color: rgba(88, 233, 95, 0.5);
    border: 2px solid rgba(88, 233, 95, 0.5);
    color: white;
    border-radius: 15px;
    margin-top: 5px;
}
#calcola:hover{
    background-color: green;
}

#reset{
    padding: 10px;
    width: 80%;
    background-color: rgba(235,35,45,0.5);
    border: 2px solid rgba(235,35,45,0.5);
    color: white;
    border-radius: 15px;
    margin-top: 5px;
}
#reset:hover{
    background-color: red;
}

.risultati{
    text-align: center;
    
}
.risultati input{
    width: 50%;
}

#risultato, #risultato2{
    font-size: 200%;
    text-transform: uppercase;
    margin-top: 5px;
}

footer{
    width: 80%;
    position: fixed;
    bottom: 5px;
    background-color: red;
}





/* @media screen and (max-width: 610px){
    .box{
        flex-basis: 30%;
    }
} */