/* CODICE PER ERRORI CSS SU MOZZILLA  */
@-moz-document url-prefix() {
    /* input:focus{ */
        /* border: 1px solid black; */
        /* border: none; */
    /* } */
    /* select:focus {
    border: none;
    } */
}


*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/* CSS NAVBAR */
.navigation{
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background-color: #ffff;
}

nav {
    float: right;
}
nav ul {
    list-style: none;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 60px;
    background-color: #ffff;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/*
The full path of this code is nav ul li a:not(:only-child):after.
*/
li a:focus{
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: none;
    background: #f2f2f2;
    color: black;
}
nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
/* Guarantees that the dropdown will display on top of any content. */
    /* box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); */
    display: none;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #ffff;
    height: 70px;
    width: 70px;
    }

@media only screen and (max-width: 800px) {
.nav-mobile {
    display: block;
}

nav {
    width: 100%;
    padding: 70px 0 15px;
}
nav ul {
    display: none;
}
nav ul li {
    float: none;
}
nav ul li a {
    padding: 15px;
    line-height: 20px;
}
nav ul li ul li a {
    padding-left: 30px;
}
}
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #463f3f;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
/* .navigation {
    height: 70px;
} */

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 1.4em;
    cursor: pointer;
}
.brand a,
.brand a:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* FINE CSS NAVBAR */



.color_body{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color: #ebebeb;
    color: black; 
    position: relative;
}


.container{
    color: white;
    padding-top: 170px;
}


.top_pd_15{
    padding-top: 15px;
}

.wd_15{
    width: 15%;
}



.logo{
    margin-top: 20px;
    margin-bottom: 45px;
}

.bottoni_calc button{
    background-color: rgb(0, 0, 0);
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 5px;
}

input:focus{
    /* background-color: rgb(206, 248, 253); */
    border: none;
}

input{
    background: hsla(0, 0%, 0%, 1);

    background: radial-gradient(circle, hsla(0, 0%, 0%, 0.5) 0%, hsla(0, 0%, 4%, 0.5) 100%);

    background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 0.5) 0%, hsla(0, 0%, 4%, 0.5) 100%);

    background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 0.5) 0%, hsla(0, 0%, 4%, 0.5) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#0A0A0A", GradientType=1 );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#1F1F1F", GradientType=1 );
    padding-left: 15px;
    /* width: 20%; */
    /* width: 45px; */
    height: 25px;
    color: white;
    border: none;
}

h1,h2,h3{
    text-transform: uppercase;
    text-align: center;
}

/* .tempo_giro{ */
    /* width: 100%; */
/* } */


/* .durata_gara{
    width: 100%;
} */

.bottoni{
    margin-top: 15px;
    text-align: center;
}

table{
    width: 40%;
    background: hsla(0, 0%, 24%, 1);
    background: radial-gradient(circle, hsla(0, 0%, 24%, 0.5) 0%, hsla(0, 0%, 0%, 0.5) 100%);
    background: -moz-radial-gradient(circle, hsla(0, 0%, 24%, 0.5) 0%, hsla(0, 0%, 0%, 0.5) 100%);
    background: -webkit-radial-gradient(circle, hsla(0, 0%, 24%, 0.5) 0%, hsla(0, 0%, 0%, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3D3D3D", endColorstr="#000000", GradientType=1 );
    margin-top: 20px;
}

table td{
    /* width: 30%; */
    padding: 5px 5px;
}

.border_tr{
    border-bottom: 1px solid black;
}

table tr:last-child {
    border: none;
}

.result_table{
    text-align: right;
    /* font-size: 130%; */
    height: 40px;
}

.title_table{
    font-weight: bold;
}

.result_height{
    height: 40px;
}

/* .result_h{
    height: 36px;
} */



#calcola{
    padding: 10px;
    width: 40%;
    background-color: rgba(88, 233, 95, 0.5);
    border: 2px solid rgba(88, 233, 95, 0.5);
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    text-transform: uppercase;
}
#calcola:hover{
    background-color: green;
}

#reset{
    padding: 10px;
    width: 40%;
    background-color: rgba(235,35,45,0.5);
    border: 2px solid rgba(235,35,45,0.5);
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    text-transform: uppercase;
}
#reset:hover{
    background-color: red;
}

.risultati{
    text-align: center;
    
}
.risultati input{
    width: 50%;
}

#risultato, #risultato2{
    font-size: 200%;
    text-transform: uppercase;
    margin-top: 5px;
}

footer{
    width: 80%;
    position: fixed;
    bottom: 5px;
    background-color: red;
}


@media screen and (max-width: 1000px) {
    input{
        padding-left: 0;
    }
}


/* MEDIA QUERY PER MOBILE PER MOBILE */
@media screen and (max-width: 767px){
    .text-left, .text-right{
        text-align: center;
    }
    .wd_15{
        width: 45%;
    }
    input{
        padding-left: 0;
    }
    body{
        height: 100%;
    }
}


@media screen and (max-width: 635px){
    .logo img{
        width: 70%;
    }
}