/* CODICE PER ERRORI CSS SU MOZZILLA  */
@-moz-document url-prefix() {
    /* input:focus{ */
        /* border: 1px solid black; */
        /* border: none; */
    /* } */
    /* select:focus {
    border: none;
    } */
}


*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-size: 16px;
    background-image: url('../img/background.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100%; */
    /* height: 100vh; */
}


.container{
    color: white;
    padding-bottom: 100px;
}


.top_pd_15{
    padding-top: 15px;
}

.wd_15{
    width: 15%;
}

.uppercase{
    text-transform: uppercase;
}

.logo img{
    width: 600px;
    height: 50px;
    margin-bottom: 40px;
}

.bottoni_calc button{
    background-color: rgb(0, 35, 151);
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 5px;
}

input:focus{
    /* background-color: rgb(206, 248, 253); */
    border: none;
}

input{
    background: hsla(0, 0%, 0%, 1);

    background: radial-gradient(circle, hsla(0, 0%, 0%, 0.5) 0%, hsla(0, 0%, 4%, 0.5) 100%);

    background: -moz-radial-gradient(circle, hsla(0, 0%, 0%, 0.5) 0%, hsla(0, 0%, 4%, 0.5) 100%);

    background: -webkit-radial-gradient(circle, hsla(0, 0%, 0%, 0.5) 0%, hsla(0, 0%, 4%, 0.5) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#0A0A0A", GradientType=1 );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#1F1F1F", GradientType=1 );
    padding-left: 15px;
    /* width: 20%; */
    /* width: 45px; */
    height: 25px;
    color: white;
    border: none;
}

h1,h2,h3{
    text-transform: uppercase;
    text-align: center;
}

/* .tempo_giro{ */
    /* width: 100%; */
/* } */


/* .durata_gara{
    width: 100%;
} */

.bottoni{
    margin-top: 15px;
    text-align: center;
}

table{
    width: 40%;
    background: hsla(0, 0%, 24%, 1);
    background: radial-gradient(circle, hsla(0, 0%, 24%, 0.5) 0%, hsla(0, 0%, 0%, 0.5) 100%);
    background: -moz-radial-gradient(circle, hsla(0, 0%, 24%, 0.5) 0%, hsla(0, 0%, 0%, 0.5) 100%);
    background: -webkit-radial-gradient(circle, hsla(0, 0%, 24%, 0.5) 0%, hsla(0, 0%, 0%, 0.5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3D3D3D", endColorstr="#000000", GradientType=1 );
    margin-top: 20px;
}

table td{
    /* width: 30%; */
    padding: 5px 5px;
}

.border_tr{
    border-bottom: 1px solid black;
}

table tr:last-child {
    border: none;
}

.result_table{
    text-align: right;
    /* font-size: 130%; */
    height: 40px;
}

.title_table{
    font-weight: bold;
}

.result_height{
    height: 40px;
}

/* .result_h{
    height: 36px;
} */



#calcola{
    padding: 10px;
    width: 40%;
    background-color: rgba(88, 233, 95, 0.5);
    border: 2px solid rgba(88, 233, 95, 0.5);
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    text-transform: uppercase;
}
#calcola:hover{
    background-color: green;
}

#reset{
    padding: 10px;
    width: 40%;
    background-color: rgba(235,35,45,0.5);
    border: 2px solid rgba(235,35,45,0.5);
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    text-transform: uppercase;
}
#reset:hover{
    background-color: red;
}

.risultati{
    text-align: center;
    
}
.risultati input{
    width: 50%;
}

#risultato, #risultato2{
    font-size: 200%;
    text-transform: uppercase;
    margin-top: 5px;
}

footer{
    width: 80%;
    position: fixed;
    bottom: 5px;
    background-color: red;
}


@media screen and (max-width: 1000px) {
    input{
        padding-left: 0;
    }
}


/* MEDIA QUERY PER MOBILE PER MOBILE */
@media screen and (max-width: 767px){
    .text-left, .text-right{
        text-align: center;
    }
    .wd_15{
        width: 45%;
    }
    input{
        padding-left: 0;
    }
    body{
        height: 100%;
    }
}


@media screen and (max-width: 635px){
    .logo img{
        width: 70%;
    }
}