*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: #464646;
    color: white;
    height: 250px;
}

.box{
    /* width: calc(100% / 3); */
    height: 100px;
    background-color: red;
    margin-top: 5px;
}