/**************** CSS INDEX.HTML ************/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

video{
    width: 1000px;
    height: 250px;
}

.body_color{
    background-color: #464646;
    color: white;
}


.login{
    text-align: right;
}



h1{
    text-align: center;
    text-transform: uppercase;
}


.news{
    background-color: red;
}


.bottoni{
    margin-top: 20px;
}

.col-xs-12{
    margin-top: 5px;
}

