@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* CSS NAVBAR */
.navigation{
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    background-color: #ffff;
}

nav {
    float: right;
}
nav ul {
    list-style: none;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 60px;
    background-color: #ffff;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/*
The full path of this code is nav ul li a:not(:only-child):after.
*/
li a:focus{
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: none;
    background: #f2f2f2;
    color: black;
}
nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
/* Guarantees that the dropdown will display on top of any content. */
    /* box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); */
    display: none;
}

.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #ffff;
    height: 70px;
    width: 70px;
    }

@media only screen and (max-width: 800px) {
.nav-mobile {
    display: block;
}

nav {
    width: 100%;
    padding: 70px 0 15px;
}
nav ul {
    display: none;
}
nav ul li {
    float: none;
}
nav ul li a {
    padding: 15px;
    line-height: 20px;
}
nav ul li ul li a {
    padding-left: 30px;
}
}
#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #463f3f;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
/* .navigation {
    height: 70px;
} */

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 1.4em;
    cursor: pointer;
}
.brand a,
.brand a:visited {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/* FINE CSS NAVBAR */

body{
    font-family: 'Titillium Web', sans-serif;
    background-color: #ebebeb;
    color: black; 
    position: relative;
}




.logo_img{
    margin-top: 60px;
    width: 100%;
}

.container{
    padding-top: 40px;
}

#none{
    display: none;
    height: 1%;
}

.top_15{
    margin-top: 15px;
}


h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}

h3{
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 27px;
}


h5{
    text-align: center;
    font-size: 17px;
}

h5 a{
    color: black;
}

h5 a:hover{
    color: black;
}



/* img{
    width: 500px;
    height: 300px;
} */



p{
    margin: 30px 80px;
    font-size: 17px;
}

.on_start a{
    position: fixed;
    bottom: 75px;
    right: 50px;
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 50%;
}

.on_start i{
    font-size: 20px;
}

#dark_mode{
    margin-top: 80px;
    background-color: red;
}

.dark-mode {
    background-color: black;
    color: white;
}


/********************* DARK MODE ***************/
html[data-theme='dark'] {
    background: #000;
    filter: invert(1) hue-rotate(180deg)
}

html[data-theme='dark'] img {
    filter: invert(1) hue-rotate(180deg)
}

.color_icone{
    background-color: #fff;
    color: black;
    border-top: 1px solid black;
}

i{
    color: white;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

footer{
    height: 70px;
    background-color: #ffff;
    font-size: 15px;
    line-height: 55px;
}





/* MEDIA QUERI */
/* MEDIA QUERY */
@media screen and (max-width: 767px) {
    .logo_img{
        margin-top: 87px;
    }
}
@media screen and (max-width:900px) {
    img{
        width: 90%;
    }
}