*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    background-color: lightgreen;
}


h1{
    text-align: center;
    text-transform: uppercase;
}



#banner{
    margin-top: 5px;
}

.risultati{
    background-color: rgb(107, 96, 96);
}