*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    background-color: lightgreen;
}


h1{
    text-align: center;
    text-transform: uppercase;
}



#banner1{
    width: 710px;
    height: 42px;
    margin-top: 50px;
}