*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(106, 104, 248);
    color: white; 
    position: relative;
}


.home{
    text-transform: uppercase;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.home:hover{
    text-decoration: none;
    color: red;
    background-color: white;
}

.top_15{
    margin-top: 15px;
}


h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}

h3 a{
    text-transform: uppercase;
    color: white;
}

h3, h5{
    text-align: center;
}

h3 a:hover{
    color: white;
}

/* img{
    width: 500px;
    height: 300px;
} */

/* .immagini img{
    width: 800px;
    height: 500px;
} */


p{
    margin: 30px 80px;
    /* margin-left: 80px;
    margin-right: 80px; */
}

.on_start a{
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: red;
    color: white;
    padding: 15px 20px;
    border-radius: 50%;
}

.on_start i{
    font-size: 20px;
}




footer{
    height: 50px;
    background-color: green;
}

